[submodule "extern/CommonLibSSE-NG"]
	path = extern/CommonLibSSE-NG
	url = https://github.com/alandtse/CommonLibVR
	branch = ng
[submodule "extern/CommonLibF4"]
	path = extern/CommonLibF4
	url = https://github.com/Ryan-rsm-McKenzie/CommonLibF4
